.major_container{
	top:40%;
	left:20%;
	position: absolute;
	margin-top: -10% ;
	margin-right: 10%;
}
input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid:#ccc;
	box-sizing: border-box;
	box-shadow: hsla(0,0,0,0.4);
}
select{
	width:100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display:inline-block;
	border:1px solid:#ccc;
	box-sizing: border-box;
}
/*input[type=text].half{
	width: 49%;

}*/
button{
	width: 100%;e
	background-color: cyan;
	padding: 14px 20px;
	margin: 8px 0px;
	border: 1px;
	border-color: black;
	cursor: pointer;
}
button:hover{
	opacity: 0.6;
}
.cancelbtn{
	background-color: #f44336;
	width:auto;
	padding: 10px 18px;
}
.container{
	padding: 16px;
    margin: 20px 30px;
    font-family: cursive;
    font-style: italic;
}
.registrationDisplay{
	display: none;
	position: fixed;
	z-index: none;
	left: 0;
	right: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
	overflow: auto;
}
.companyReg{

}
.animate{
-webkit-animation:animatezoom 0.6s;
animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom{
	from{-webkit-transform:scale(0)}
	to{-webkit-transform:scale(1)}
}
@keyframes animatezoon{
from{transform:scale(0)}
to{transform:scale(1)}
}
.modal-content{
	background-color: #fefefe;
	margin:5% auto 15% auto;
	border:1px;
	width: 50%;


}
